# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

.idea
/out/
.idea_modules/

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar
### Eclipse template
*.pydevproject
.metadata
.gradle
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
